@model SupRestoWow.Models.Compte

@using (Ajax.BeginForm("Authentification", new AjaxOptions()))
{
    <label for="@Html.IdFor(m => m.Courriel)">Courriel</label>
    @Html.TextBoxFor(m => m.Courriel)

    <label for="@Html.IdFor(m => m.MotDePasse)">Mot de passe</label>
    @Html.TextBoxFor(m => m.MotDePasse)
    
    <input type="submit" value="Se connecter"/>
}